RailwayGUI.exe
RailwayGUI.pdb
DesignTimeResolveAssemblyReferencesInput.cache
RailwayGUI.exe
RailwayGUI.vbproj.CoreCompileInputs.cache
RailwayGUI.vbproj.FileListAbsolute.txt
RailwayGUI.vbproj.GenerateResource.cache
RailwayGUI.vbprojAssemblyReference.cache
RailwayGUI.vbproj
.suo
storage.ide
storage.ide.shm
storage.ide-wal